{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pc-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Scanning</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#!">Data Pemindaian Port</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ Contextual-table ] start -->
                <div class="col-md-12">
                    <div class="card">
                        {% if error %}
                        <p>Error: {{ error }}</p>
                        {% endif %}
                        <button type="button" style="width: 16%; margin-left: 83%;margin-top: 12px;" class="btn btn-primary" data-toggle="modal" data-target="#createDomainModal">Tambah Pemindaian Port</button>
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Hostname</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody id="nmapTableBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Contextual-table ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </section>
    <!-- [ Main Content ] end -->

<!-- Modal for creating new recon domain -->
<div class="modal fade" id="createDomainModal" tabindex="-1" role="dialog" aria-labelledby="createScanModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/nmap_start" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="createScanModalLabel">Tambah Data Pemindaian Port</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="scanTarget">Host / Domain Target</label>
                        <input type="text" class="form-control" id="target" name="target" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Buat</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Detail Scan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Port</th>
                            <th>Protocol</th>
                            <th>State</th>
                            <th>Service Name</th>
                            <th>Product</th>
                            <th>Version</th>
                        </tr>
                    </thead>
                    <tbody id="detailTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        loadNmapResults();
    });

    function loadNmapResults() {
        fetch('/get_nmap')
            .then(response => response.json())
            .then(data => {
                const nmapTableBody = document.getElementById('nmapTableBody');
                nmapTableBody.innerHTML = '';
                data.forEach((hostname, index) => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${index + 1}</td>
                        <td>${hostname}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" onclick="showDetail('${hostname}')">Lihat Detail</button>
                            <button type="button" class="btn btn-danger" onclick="deleteResults('${hostname}')">Hapus Data</button>
                        </td>
                            `;
                    nmapTableBody.appendChild(row);
                });
            });
    }

    function showDetail(hostname) {
        fetch(`/get_nmap_detail/${hostname}`)
            .then(response => response.json())
            .then(data => {
                const detailTableBody = document.getElementById('detailTableBody');
                detailTableBody.innerHTML = '';
                data.forEach(scan => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${scan.port}</td>
                        <td>${scan.protocol}</td>
                        <td>${scan.state}</td>
                        <td>${scan.service_name}</td>
                        <td>${scan.product || 'N/A'}</td>
                        <td>${scan.version || 'N/A'}</td>
                    `;
                    detailTableBody.appendChild(row);
                });
                $('#detailModal').modal('show');
            });
        }

        function deleteResults(hostname) {
        fetch(`/delete_nmap/${hostname}`, {
            method: 'DELETE'
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            loadNmapResults();
        });
    }
    
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock javascripts %}
